*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #009090;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.text-box{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    width: 100%;
}
.fixed-text{
    display:inline-block;
}
.animated-text{
     display: inline-block ;
}
.animated-text span{
    position: relative;
    color: #02095a;
    display: block;
}
 
.animated-text span:after{
    content:"";
    position:absolute;
    left: 0;
    right: -2px;
    height: 100%;
    border-left : 2px solid #02095a;
    background-color: #7f9696;
    animation:3s texType;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
    animation-fill-mode: backwards;
}

@keyframes textType {
    0%{
        left:0%;
    }    
    50%{
        left:100%;
    }    
    100%{
        left:0%;
    }    
}








